<div class="card container">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta quibusdam quaerat debitis, libero laboriosam corporis quidem, dignissimos earum minima optio modi corrupti? Consectetur accusantium veniam commodi, maiores in aliquam porro veritatis, adipisci recusandae nam ea pariatur repellendus temporibus impedit rerum.</p>
    </div>
</div>