<div class="container">
<div class="jumbotron mt-4" style="background-color: rgb(235, 235, 235);">
    <div class="m-5 pb-5 pt-3">
    <h1 class="display-4">Notes App with Node JS</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt expedita corrupti, sint consectetur ad quod possimus quisquam cum reprehenderit eos rem vero maiores iure quibusdam accusamus quo accusantium? Minus, maiores.</p>
    <a href="/signin" class="btn btn-primary btn-lg">Comenzar</a>
    </div>
</div>
</div>