<div class="container">
<div class="jumbotron mt-5">
    <h1 class="display-4">Login</h1>
    <hr class="my-4">
    <form action="">
        <input type="email"><br><br>
        <input type="password">
    </form>
</div>
</div>