<div class="container">
    <link href="signin.css" rel="stylesheet">
  <body class="text-center">
<main class="form-signin">
  <form>    
    <h1 class="h3 mb-3 fw-normal mt-3">Por favor registrate</h1>

    <div class="form-floating">
      <input type="email" class="form-control mb-3" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control mb-3" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
    <a class="w-100 mb-3" type="button" href="/login">Tienes una cuenta? Incia sesion</a>
  </form>
</main>
</div>